.header_total {
  display: flex;
  position: sticky;
  top: 0;
  height: 72px;
  background-color: white;

  padding: 0 50px;

}

.header_homelink {
  display: inline;
}

.header_logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-right: 84px;
  background: url("https://www.hanmi.co.kr/images/common/logo_gnb.svg") no-repeat 50% 50% / 100% auto;

}

.header_introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 500px;
  font-size: 24px;
}

.header_introduction a {
  text-decoration: none;
  color: black;
}

.navigation_total {
  display: flex;
  margin: 170px 0 50px;
  padding: 0 50px;
  align-items: center;
  gap: 16px;
}

.navigation_logo{
  width: 20px;
  height: 20px;
  background: url("https://www.hanmi.co.kr/images/common/spr_layout.svg") -146px 0;

}

.navigation_right {
  top: 50%;
  right: 17px;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  background: url("https://www.hanmi.co.kr/images/common/spr_ico.svg") no-repeat -30px 0;
}


.title_sentence {
  font-size: 84px;
  padding: 0 0 0 32px;
}

.outline_selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  padding: 60px 480px;
}

.outline_first_image {
  font-size: 20px;
  font-weight: 900;
  padding: 0 44px;
}

.outline_first_paragrah {
  font-size: 28px;
  padding: 44px;
}

.outline_first_paragrah h2 {
  font-size: 60px;
}



.outline_number_section {
  display: flex;
  position: relative;
  right: 30px;
  padding: 0 44px;
  border-top: 1px solid gray;
}

.outline_number_section:last-child {
  float: right;
}

.outline_number_box {
  width: 360px;
  padding: 0 0 40px 0;
}

.outline_number {
  font-size: 16px;
  color: gray;
}

.outline_number b {
  font-size: 88px;
  color: black;
}

.outline_number_article {
  font-size: 20px;
}

.outline_background_image {
  width: 100%;
  margin-left: -8px;
  padding: 0 0 20px 0;
}


.outline_aside {
  display: inline-block;
  font-size: 56px;
  font-weight: 800;
  padding: 0 40px;
  line-height: 1.5em;
  float: left;
}

.outline_achivement {
  display: inline-block;
  flex-direction: column;
  padding: 72px;
}

.outline_achivement_section {
  display: flex;
  width: 1160px;
  border-top: 1px solid black;
  padding: 0 0 36px 0;
}

.outline_achivement_circle {
  width: 70px;
  height: 40px;
  padding: 24px 0;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  background: #000;
  border-radius: 50%;
  text-align: center;
  margin-right: 46px;
  margin-top: 30px;
}

.outline_achivement_circle p {
  position: relative;
  top: -20px;

}

.outline_achivement_text {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.outline_achivement_title {
  display: inline-block;
  font-size: 18px;
}

.outline_achivement_title b {
  font-size: 80px;
  color: #E1251B;
}

.outline_achivement_article {
  font-size: 16px;
}

.outline_achivement_article b {
  font-weight: 700;
}