.header_total {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;

  padding: 0 50px;

}

.header_homelink {
  display: inline;
}

.header_logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-right: 84px;
  background: url("https://www.hanmi.co.kr/images/common/logo_gnb.svg") no-repeat 50% 50% / 100% auto;

}

.header_introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 500px;
  font-size: 24px;
}

.header_introduction a {
  text-decoration: none;
  color: black;
}

.navigation_total {
  display: flex;
  margin: 170px 0 50px;
  padding: 0 50px;
  align-items: center;
  gap: 16px;
}

.navigation_logo{
  width: 20px;
  height: 20px;
  background: url("https://www.hanmi.co.kr/images/common/spr_layout.svg") -146px 0;

}

.navigation_right {
  top: 50%;
  right: 17px;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  background: url("https://www.hanmi.co.kr/images/common/spr_ico.svg") no-repeat -30px 0;
}


.title_sentence {
  font-size: 84px;
  padding: 0 0 0 32px;
}

.outline_selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  padding: 60px 480px;
}

.outline_first_image {
  font-size: 20px;
  font-weight: 900;
  padding: 44px;
}

.outline_first_paragrah {
  font-size: 28px;
  padding: 44px;
}



.outline_number_section {
  display: flex;
  padding: 0 44px;
  border-top: 1px solid gray;
}

.outline_number_section:last-child {
  justify-content: flex-end;
}

.outline_number_box {
  width: 360px;
}

.outline_number {
  font-size: 16px;
  color: gray;
}

.outline_number b {
  font-size: 88px;
  color: black;
}

.outline_number_article {
  font-size: 20px;
}